
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body{
    /*    background: rgb(255,237,102);
        background: linear-gradient(90deg, rgba(255,237,102,1) 0%, 
            rgba(255,166,71,1) 54%, 
            rgba(251,194,181,1) 100%);  */
    background-image: url(../imagenes/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 4px;
}

.login-form h1{
    text-align: center;
    margin: 48px 0;
    font-size: 36px;
    color: #111;
    font-size: 36px;
}

.login-form p{
    font-family: 'montserrat', sans-serif;
    text-align: center;
    margin: 48px 0;
    font-size: 20px;
    color: #111;
}

.texto{
    margin-bottom: 12px;
    position: relative;
}

.texto input{
    width: 100%;
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
}

.placeholder{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 20px;
    color: #9d9d9d;
    select: none;
    pointer-events: none;
}

.texto input:focus ~ .placeholder,
.texto input:valid ~ .placeholder{
    left: 10px;
    top: -16px;
}

.btn{
    display: block;
    width: 100px;
    height:100px;
    margin: 40px auto;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s linear; 
}

.btn{
    opacity: .85;
}

.btn2{
    color:#ea272d;
    font-size: 15px;
    font-weight: 600;
    font-family: 'montserrat', sans-serif;
    text-align: center;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.registrar button{
    background: none!important;
    border: none;
    cursor: pointer;
}


.bg-register{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.register-content{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 4px;  
    text-align: center;
    padding: 20px;
    position: relative;
}

.register-content input{
    width: 50%;
    display: block;
    margin: 15px auto;
}

.register-form h1{
    margin: 35px 0;
    font-size: 40px;
    color: #111;
}

.btn-1{
    display: block;
    width: 80px;
    height:80px;
    margin: 30px auto;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s linear; 
}

.cerrar{
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 40px;
    color: #902923;
    cursor: pointer;
}